{% extends "article_base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-header">
                <br>
              <center><h>{{b.desc}}</h></center>
              <p></p>
            </div>
        </div>
    </div>
  <div class="row">
    {% for article in articles %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://localhost/{{article.headImg}}" alt="...">
          <div class="caption">
            <h3><a href="/article/detail/{{article.id}}">{{article.title}}</a> </h3>
            <p>{{article.content}}</p>
            <p>{{article.create_timestamp}}</p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  
{% endblock %}