{% extends "article_base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-header">
                <br>
               <h>{{b.desc}}</h>
            </div>
        </div>
    </div>
  <div class="row">
    {% for article in articles %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="background-color: rgb(245,251,255);padding-bottom: 0px;">
            <a href="/article/detail/{{article.id}}"><img src="http://localhost/{{article.headImg}}" alt="..."></a>

            <div class="caption" style="padding-bottom: 0px;margin-bottom: 0px;">
                <h3 style="font-size:24px;"><a class="anbaibailink" href="/article/detail/{{article.id}}" >{{article.title}}</a> </h3>
                <br>
                <p style="font-size:14px;color:rgb(126,126,126);font-style:normal;font-weight:200;">{{article.summary}}</p>
                <p style="font-size:14px;color:rgb(126,126,126)">{{article.create_timestamp}}</p>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

{% endblock %}